<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Last shopping page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<h1>Last shopping </h1>><br>


    <h3>
        <table style="width: 30%">
            <thead>
            <tr>

                <th style="width: 15">Value</th>
                <th style="width: 15">Date</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${boughtProducts}">
                <td th:text="${product.value}"></td>
                <td th:text="${product.localDate}"></td>




            </tr>
            </tbody>
        </table>
    </h3>

<h3><a href="user"  >Back to your main page</a></h3><<br>


<br>



<form action="#" th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" class="btn btn-info col-2" />

</form>
</body>
</html>