<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<h1>user page</h1><br>
<h3><a href="user/password">Change password</a><br>
    <a href="lastShopping">Last bought products</a></h3><br>


<h2>Your actual list of product to buy</h2>
<form th:action="@{/user/change}" th:object="${positions}" method="PATCH">
    <h3>
        <table style="width: 25%">
            <thead>
            <tr>
                <th style="width: 15%;text-align: right;">select</th>
                <th style="width: 10%;text-align: center;">Value</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="position : ${productList}">
                <td style="text-align: right;"><input type="checkbox" th:field="*{positions[__${position.value}__])}"
                                                      value="true"></td>

                <td style="text-align: center;" th:text="${position.value}"></td>


            </tr>
            </tbody>
        </table>
    </h3>
    <button type="submit" name="action" value="delete" class="btn btn-info col-2">Delete</button>
    <button type="submit" name="action" value="bought" class="btn btn-info col-2">Bought</button>
</form>
<h2>Here you can add product(s) to your list</h2>
<form th:action="@{/user/addProduct}" th:object="${productToBuy}" method="POST">
    Write product:<input type="text" th:field="*{value}"
                         class="form-control mb-4 col-4"
                         placeholder="Value ( you can write more separated by ',' )"><br>


    <button type="submit" class="btn btn-info col-2">Add product</button>

</form>

<br>

<form action="#" th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" class="btn btn-info col-2"/>

</form>
</body>
</html>